.app-header {
  position: fixed;
  top: 0;

  .app-head {
    justify-content: center;
    padding: 20px;
    background-color: $color-accent;
    color: $color-text;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    border-color: $color-text;

    &-model {
      flex: 3;
    }

    &-producer {
      flex: 3;
    }

    &-status {
      flex: 1.2;
    }
  }
}

.app-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 5vh;
  font-size: 1vw;

  span {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 200px;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid $color-accent;
    border-top: 0;
    border-left: 0;
  }
  
  &:nth-child(odd) {
    background-color: $color-secondary;
  }

  .app-cell {
    &-DEADLINE {
      justify-content: center;
    }

    &-MODEL {
      flex: 3;
    }

    &-PRODUCER {
      flex: 3;
    }

    &-QUANTITY {
      justify-content: flex-end;
    }

    &-STATUS {
      justify-content: center;
      flex: 1.2;
    }
  }
}

.deadline-lost {
  color: #ff0000;
}

.finished {
  color: #DFECD7;
}

.planned {
  color:  #7a558c;
}

.processing {
  color: #008000;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 50px;
  color: #fff;
}

.status-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: inherit;
  text-transform: capitalize;
  border-top: 2px solid #fff;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 5vh 0;
  font-weight: 600;
  background-color: $color-background;
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .app-row {
    height: 50px;

    span {
      min-width: 70px;
    }
  }

  .table {
    font-size: 16px;
    overflow: auto;
  }
}
